{% extends 'base.html' %}

{% block content %}
<section class="hero is-info">
    <div class="hero-body has-text-centered">
        <p class = "title" style="font-size:xxx-large;">
            Offer details
        </p>
    </div>
</section>
&nbsp;

<div class="tile is-ancestor is-vertical" style="width: 50%; margin-left: auto; margin-right: auto;">
    <form id="create-offer" method="POST", action="/offers/create">
      <input type = "hidden" name = "id" />
      <div class=tile>
        <div class="tile is-parent is-6">
            <article class="tile is-child notification is-primary">
              <p class="title">Event</p>
              <p class="subtitle">
                  <input name="event" type="text" class="input" required>
                </p>
            </article>
        </div>
        <div class="tile is-vertical is-parent">
          <article class="tile is-child notification is-primary">
            <p class="title">Accommodation</p>
            <p class="subtitle">
                <input name="accommodation" type="text" class="input" required>
            </p>
          </article>
          <article class="tile is-child notification is-primary">
            <p class="title">Transport</p>
            <p class="subtitle">
                <input name="transport" type="text" class="input" required>
            </p>
          </article>
        </div>
      </div>
    </form>
    <a href="#" onclick="document.getElementById('create-offer').submit()">
      <div class="tile">
        <article class="tile is-child notification is-info">
          <p class="title">Wide tile</p>
          <!-- <p class="subtitle">Aligned with the right tile</p> -->
        </article>
      </div>
    </a>
</div>
{% endblock %}
