{% extends 'base.html' %}

{% block content %}
<section class="hero is-info">
    <div class="hero-body has-text-centered">
        <p class = "title" style="font-size:xxx-large;">
            Offer details
        </p>
    </div>
</section>
&nbsp;
<div class="tile is-ancestor" style="width: 50%; margin-left: auto; margin-right: auto;">
    <div class="tile is-parent is-6">
        <article class="tile is-child notification is-primary">
          <p class="title">Event</p>
          <p class="subtitle">{{ offer.event }}</p>
        </article>
    </div>
    <div class="tile is-vertical is-parent">
      <article class="tile is-child notification is-primary">
        <p class="title">Accommodation</p>
        <p class="subtitle">{{ offer.accommodation }}</p>
      </article>
      <article class="tile is-child notification is-primary">
        <p class="title">Transport</p>
        <p class="subtitle">{{ offer.transport }}</p>
      </article>
    </div>
</div>

<!-- <section class="hero is-primary is-fullheight"> -->
    <!-- <div class="content has-text-left">
<ul>
    <li> Offer: {{ offer.id }}
        <ul>
            <li> Event: {{ offer.event }} </li>
            <li> Acommodation: {{ offer.accommodation }} </li>
            <li> Transport: {{ offer.transport }} </li>
        </ul>
    </li>
    </ul>
</div> -->
<!-- </section> -->
{% endblock %}
